/* Index */
a{
  text-decoration: none;
  color: #a46600;
}
a:hover{
  font-weight: 800;
}
a:hover:after{
  content: "_"; 
}

.container{
  padding: 30px 150px;
}
header{
  padding: 20px 30px;
  color: white;
  background: #0d7963;
  text-align: center;
}
header .h2{
  color: red;
}
h2{
  letter-spacing:2px;
  font-weight: 600;
}

ul{
  min-height: 60vh;
  padding: 30px 40px;
  background: #efe8b9;
  color: #a57700;
}
li{
  margin-top: 10px;
  margin-bottom: 20px;
}

footer{
  /*position: fixed;*/
  margin-left: -10px;
  padding: 20px 20px;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: #2a3744;
}
footer a{
  text-decoration: none;
  color: #6d8299;
}
footer a:hover{
  color: white;
}
/* View */
.shadow{
  box-shadow: 5px 5px 20px #888888;
}

.code{
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.1rem;
  border-radius: 3px;
  font-family: monospace;
  background: #002934;
  color: #278bd2;
  padding: 3px;
  display: inline-block;
}

/* animation*/


/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    0%   {opacity: 1;}
    100% {opacity: 0;}
} 

/* Standard syntax */
@keyframes blink {
    0%   {opacity: 1;}
    100% {opacity: 0;}
} 

a:hover:after{
    margin-left: 5px;
    -webkit-animation: blink 0.8s linear 0.1s infinite ; /* Chrome, Safari, Opera */
    animation: blink 0.8s linear 0.1s infinite ; /* Standard syntax */
}
